

@media (min-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
 }
 
 @media (max-width: 1366px) {
  .block-description-xloo {
    font-size: 36px;
    line-height: 52px;
  }
  .xloo-block {
    padding: 30px 0;
  }
 }

@media (max-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
 }

@media (max-width: 991px) {
  .main-menu-trigger {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav-xloo-link {
    margin-bottom: 40px;
    font-size: 21px;
  }
 }

@media (max-width: 768px) {
  
}


@media (max-width: 576px) {

}
