

@media (min-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
 }


@media (max-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
 }

@media (max-width: 991px) {
  .main-menu-trigger {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav-xloo-link {
    margin-bottom: 40px;
    font-size: 21px;
  }
 }

@media (max-width: 768px) {
  
}


@media (max-width: 576px) {

}
