


 
 @media (max-width: 1440px) {
  .block-description-xloo {
    font-size: 36px;
    line-height: 52px;
  }
  .xloo-block {
    padding: 30px 0;
  }
  .block-middle {
    margin: 30px 0;
  }
  .section-cta:before {
    background-size: contain;
  }
 }

 @media (min-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
 }
@media (max-width: 1200px) {
  .main-menu-trigger {
    display: none;
  }
  .block-steps-item-arrow-right {
    margin-right: 90px;
  }
  .block-arrow.block-arrow-right {
    right: -85px;
  }
  .block-steps-item-arrow-left {
    margin-left: 90px;
  }
  .block-arrow {
    width: 80px;
    padding: 2px;
  } 
  .block-arrow.block-arrow-left {
    left: -85px;
  }
  .block-arrow.block-arrow-down {
    width: 64px;
  }
  .footer-nav-item {
    padding: 10px;
  }
  .footer-nav-item:hover:before {
    width: calc(100% - 20px);
  }
 }



@media (max-width: 991px) {
  .main-menu-trigger {
    display: flex;
  }
  .nav {
    display: none;
  }
  .nav-xloo-link {
    margin-bottom: 2vh;
    font-size: 21px;
  }
  .xloo-features-blocks {
    flex-wrap: wrap;
  }
  .xloo-features-item {
    width: 100%;
  }
  .xloo-features-item:not(:last-child) {
     margin-bottom: 40px;
  }
  .xloo-block {
    padding: 80px 0;
  }
  .block-icon-development {
    flex-wrap: wrap;
    justify-content: center;
  }
  .block-icon-development-item {
    width: 30%;
    margin: 15px 10px;
  }
  .footer-cta {
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-nav {
    justify-content: center;
    margin: 60px 0;
  }
  .footer-contact-info {
    justify-content: center;
  }
  .why-choose-us-item {
    width: 48%;
  }
  .block-steps-item-arrow-right {
    margin-right: 65px;
  }
  .block-steps-item {
    width: 120px;
  }
  .block-steps-text {
    font-size: 12px;
  }
  .block-steps-item-arrow-left {
    margin-left: 70px;
  }
  .block-arrow.block-arrow-right {
    right: -60px;
  }
  .block-arrow {
    width: 57px;
  }
  .block-arrow.block-arrow-left {
    left: -63px;
  }
  .block-steps-text {
    padding: 0 10px 10px;
  }
  .why-choose-us-item:nth-child(7), .why-choose-us-item:nth-child(8) {
    margin-bottom: 40px;
}
 }

@media (max-width: 768px) {
  .block-description-xloo {
    font-size: 42px;
    line-height: 70px;
  }
  .nav-xloo-link-btn {
    font-size: 21px;
  }
  .section-cta:before {
    background: url(../images/xloo-logo-bg.png) right bottom no-repeat;
    background-size: contain;
  }
  .why-choose-us-item {
    width: 100%;
  }
  .why-choose-us-item-title br {
    display: none;
  }
  .why-choose-us-item:nth-child(7), .why-choose-us-item:nth-child(8){
    margin-bottom: 40px;
  }
 
  .block-steps-item-arrow-right,
  .block-steps-item-arrow-left {
    margin: 0;  
  }
  .block-arrow {
    display: none;
  }
  .block-steps-text {
    font-size: 21px;
  }
.border-radius-right, .border-radius-left {
  border-radius: 0;
}
.block-steps-bottom-part {
  flex-direction: column-reverse;
  width: 100%;
}
.block-steps-item-arrow-down {
  margin-bottom: 0;
}
.block-steps-item {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: -1px;
  box-shadow: none;
}
.block-steps-top-part .block-steps-item:first-child {
  border-radius: 8px 8px 0 0;
  border-color: #93CB40;
  z-index: 10;
}
.block-steps-bottom-part .block-steps-item:first-child {
  border-radius: 0 0 8px 8px;
}
.block-steps-text br {
  display: none;
}
}


@media (max-width: 576px) {
  .block-description-xloo {
    font-size: 24px;
    line-height: 40px;
  }
  .block-description-xloo br {
    display: none;
  }
  .footer-nav {
    flex-wrap: wrap;
    height: inherit;
    flex-direction: column;
  }
  .footer-contact-info-phone {
    margin-right: 0;
  }
 .footer-contact-info {
   flex-wrap: wrap;
 }
 .footer-contact-info-phone {
   text-align: center;
   margin-bottom: 30px;
 }
 .footer-contact-info-social {
   text-align: center;
 }
}
