@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800&display=swap');
*{
  -webkit-overflow-scrolling: touch;
}
body {
font-family: 'Muli', sans-serif;
}

.primary-xloo-color {
color: #93CB40;
}

.primary-xloo-btn {
background-color: #93CB40;
color: #636363;
}

.btn {
font-size: 20px;
font-weight: 500;
}
.primary-xloo-btn-outline {
display: inline-block;
padding: 10px 25px;
color: #ffffff;
border: 2px solid #93CB40;
border-radius: 30px;
}
.primary-xloo-btn-outline:hover {
background: #93CB40;
color: #000000;
}

.container-dark {
background: rgb(14, 20, 28);
background: linear-gradient(45deg, rgba(14, 20, 28, 1) 0%, rgba(44, 53, 68, 1) 100%);
overflow-x: hidden;
}
.nav-xloo-link {
display: block;
position: relative;
padding: 10px 25px;
color: #d2d3d6;
font-size: 16px;
font-weight: 600;
transition: 0.3s;
}
.nav-xloo-link-btn {
color: #d2d3d6;
font-size: 16px;
font-weight: 600;
}
.nav-xloo-link:not(:last-child):before {
content: '';
position: absolute;
left: 0;
right: 0;
margin: auto;
bottom: 10px;
width: 0;
height: 2px;
background-color: #93CB40;
opacity: 0;
transition: 0.3s;
}
.nav-xloo-link:not(:last-child):hover:before {
width: calc(100% - 50px);
opacity: 1;
}

.nav-xloo-link:hover {
color: #fff;
text-decoration: none;
}

.nav-toolbar {
display: flex;
align-items: center;
flex-wrap: nowrap;
padding: 0 15px;
}

.logo {
position: relative;
top: -8px;
max-width: 160px;
width: 100%;
}

.xloo-block {
  min-height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0;
}

.xloo-block-cta {
display: flex;
flex-flow: column;
align-items: flex-start;
align-content: space-evenly;
margin-top: 116px;
}

.xloo-block-cta.xloo-block {
min-height: calc(100vh - 134px);
}
.block-middle {
  margin: 50px 0;
}
.block-description-xloo {
color: #ffffff;
font-size: 56px;
line-height: 84px;
font-weight: 600;
}

.xloo-title-block {
color: #93CB40;
font-size: 34px;
font-weight: 600;
}
.section-cta {
position: relative;
}
.section-cta:before {
content: '';
position: absolute;
height: 100%;
width: 100%;
right: -15px;
top: 0;
bottom: 0;
margin: auto;
background: url(../images/xloo-logo-bg.png) right center no-repeat;
background-size: auto;
}
.xloo-img {
position: absolute;
right: -45px;
top: 0;
bottom: 0;
margin: auto;
}
.tiltBox {
transform-style: preserve-3d;
z-index: 9999;
background-size: cover;
background-position: center;

}
.tiltBox::after {
content: "";
background-color: #00000040;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.xloo-nav {
position: fixed;
padding: 15px 0;
top: 0;
right: 0;
left: 0;
z-index: 1030;
transition: .3s;
}
.xloo-sticky-nav {
background: rgba(31, 39, 51, 0.9);
padding: 0;
}
.nav-xloo {
justify-content: flex-end;
text-transform: uppercase;
}

.main-menu-trigger {
display:none;
position: relative;
width: 30px;
height: 30px;
display: flex;
align-items: center;
margin: 0;
z-index: 999999;
cursor: pointer;
}
.main-menu-trigger:before {
content: '';
position: absolute;
width: 100%;
height: 2px;
top: 3px;
right: 0;
background: #d2d3d6;
}
.main-menu-trigger:after {
content: '';
position: absolute;
width: 100%;
height: 2px;
bottom: 3px;
right: 0;
background: #d2d3d6;
}
.burger-ico {
width: 100%;
height: 2px;
display: block;
background: #d2d3d6;
}
.wrapper-nav-xloo {
width: 100%;
display: flex;
justify-content: flex-end;
}
.scroll-hidden {
overflow: hidden;
height: 100vh;
position: absolute;
width: 100%;

}
.active-trigger .burger-ico{
opacity: 0;
}
.active-trigger.main-menu-trigger:after {
bottom: 14px;
transform: rotate(-45deg);
}
.active-trigger.main-menu-trigger::before {
top: 14px;
transform: rotate(45deg);
}
.nav-xloo.active-menu {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
left: 0;
top: 0;
padding: 20px;
background: linear-gradient(45deg, rgba(14, 20, 28, 0.95) 0%, rgba(44, 53, 68, 0.95) 100%);
text-align: center;
bottom: 0;
justify-content: center;
z-index: 9;
position: absolute;
height: 100vh;
}
.xloo-features-content {
  color: #ffffff;
  margin-left: 20px;
}
.xloo-features-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.xloo-features-item {
  width: 48%;
  display: flex;
}
.xloo-features-content-title {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 20px;
}
.xloo-features-content-text {
  font-size: 15px;
  opacity: 0.7;
  line-height: 28px;
  font-weight: 300;
}
.xloo-features-item:first-child, .xloo-features-item:nth-child(2) {
  margin-bottom: 40px;
}
.wrap-block-btn {
  display: flex;
  align-items: center;
}
.btn-xloo-block {
  color: #ffffff;
  font-size: 20px;
  padding: 0;
}
.btn-xloo-block:hover {
  color: #93CB40;
}
.arrow-btn {
  transition: 0.3s;
}
.btn-xloo-block:hover .arrow-btn {
  margin-left: 10px;
}
.xloo-features-img {
   padding-top: 5px;
}
.xloo-what-we-do {
  position: relative;
}
.xloo-what-we-do:before {
  content: '';
  position: absolute;
  left: -15px;
  bottom: 100px;
  background: url(../images/o-img.png) bottom left no-repeat;
  width: 100%;
  height: 100%;
}
.btn-xloo-block-dark-text {
  color: #000000;
}
.software-development-title {
  font-size: 42px;
}
.software-development-subtitle {
  font-size: 15px;
  opacity: 0.7;
  max-width: 920px;
  margin: auto;
}
.block-title-development {
  text-align: center;
}
.block-icon-development {
  display: flex;
  justify-content: space-between;
}
.block-icon-development-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
.block-icon-development-item > p {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}
.block-steps-item {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2C3544;
  box-shadow: -12px 12px 20px rgba(0, 0, 0, 0.1);
}
.block-steps {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.block-arrow {
  position: absolute;
  width: 105px;
  height: 100%;
  color: #fff;
  top: 1px;
  bottom: 0;
  margin: auto;
  font-size: 5px;
  letter-spacing: 3px;
  opacity: 0.7;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.block-steps-item-arrow-right {
  margin-right: 120px;
}
.block-arrow.block-arrow-right{
  right: -113px;
}
.block-arrow.block-arrow-right:before {
  content: '';
  border: 7px solid transparent;
  border-left: 10px solid #ffffff;
  position: absolute;
  right: -7px;
}
.block-steps-item-arrow-left {
  margin-left: 120px;
} 
.block-arrow.block-arrow-left{
  left: -113px;
}
.block-arrow.block-arrow-left:before {
  content: '';
  border: 7px solid transparent;
  border-right: 10px solid #ffffff;
  position: absolute;
  left: -7px;
}
.block-steps-item-arrow-down {
  margin-bottom: 80px;
}
.block-arrow.block-arrow-down{
  bottom: -120px;
  height: 100%;
  top: auto;
  transform: rotate(90deg);
  width: 60px;
}
.block-arrow.block-arrow-down:before {
  content: '';
  border: 7px solid transparent;
  border-left: 10px solid #ffffff;
  position: absolute;
  right: -7px;
}
.border-radius-right {
  border-radius: 0 18px 0 0;
}
.border-radius-left {
  border-radius: 18px 0 0 0;
}
.block-steps-item p{
width: 100%;
margin: 0;
}
.block-steps-item:first-child {
  border: 2px solid #93CB40;
  background: transparent;
}
.block-steps-item:nth-child(5) {
  background: #93CB40;
}
.block-steps-number {
  font-size: 58px;
  color: #ffffff;
  opacity: 0.7;
  font-weight: 800;
  padding: 0 15px;
}
.block-steps-text {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 15px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.block-steps-item-last p{
  color:#19202B;
  opacity: 1;
}
.block-why-choose-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.why-choose-us-item {
  color: #ffffff;
  width: 31%;
  margin-bottom: 40px;
}
.why-choose-us-item:nth-child(7),
.why-choose-us-item:nth-child(8),
.why-choose-us-item:nth-child(9) {
  margin-bottom: 0;
}

.why-choose-us-item-title {
  display: flex;
  align-items: center;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 20px;
  min-height: 72px;
}
.why-choose-us-item-content {
  text-align: justify;
  font-size: 15px;
  opacity: 0.7;
  line-height: 28px;
  font-weight: 300;
}
.why-choose-us-item-title h3 {
  margin-left: 20px;
}
.why-choose-us {
  position: relative;
}
.why-choose-us::before {
  content: '';
  position: absolute;
  background: url(../images/why-choose-us-bg.png)top right no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  right: -15px;
}
.nav-xloo-tab {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4px;
  border-radius: 50px;
  margin-bottom: 60px;
}
.nav-pills .xloo-nav-link {
  border-radius: 50px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #19202b;
  background-color: #93cb40;
}
.nav-pills .xloo-nav-link {
  border-radius: 50px;
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  padding: 0 30px;
}
.nav-xloo-tab a {
  color: rgba(31, 39, 51, 0.8);
}
.nav-xloo-tab a:hover {
  color: rgba(31, 39, 51, 1);
}
.wrap-pills-content {
  display: flex;
}
.pills-left-part-list {
  padding: 0;
  list-style-type: none;
}
.pills-left-part-item {
  display: flex;
  align-items: flex-start;
}
.pills-left-part-item:not(:last-child) {
  margin-bottom: 60px;
}
.pills-left-part-item-content {
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  padding: 0 20px;
  text-align: justify;
}
.pills-left-part {
  width: 40%;
}
.pills-right-part {
  width: 60%;
}
.web-development-img {
  position: relative;
}
.web-development-img img {
  display: block;
  position: relative;
  z-index: 3;
}
.web-development-img:before {
  content: '';
  position: absolute;
  background: url(../images/DotsBG.png);
  width: 149px;
  height: 149px;
  top: -30px;
  right: 110px;
  display: block;
  z-index: 0;
}
.xloo-carousel {
  background: #F4F5F8;
  padding: 80px 0;
}
.owl-carousel .owl-item img {
  width: inherit;
  max-width: 100%;
}
.owl-carousel .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #999BA4;
}
.container-footer {
 color: #ffffff;
 padding: 70px 0;
}
.footer-cta-bussines {
  font-size: 24px;
  line-height: 34px;
  /* font-weight: 500; */
  margin: 60px 0 40px;
}
.footer-cta-hire-us-text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
}
.footer-nav {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 58px;
}
.footer-nav-item {
  color: #ffffff;
  padding: 20px;
  font-size: 20px;
}
.footer-logo {
  height: 100px;
}
.footer-contact-info-title {
  font-size: 24px;
  line-height: 34px;
}
.phone-item p {
  font-weight: 700;
  margin: 0;
}
.footer-contact-info-link {
  color: #ffffff;
  opacity: 0.7;
  transition: 0.3s;
}
.footer-contact-info-link:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none;
}
.phone-canada {
  margin: 15px 0 30px;
}
.footer-contact-info {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}
.footer-contact-info-phone{
  margin-right: 60px;
  padding: 0 20px;
}
.footer-contact-info-social {
  padding: 0 20px;
}
.footer-xloo-email {
  margin-bottom: 30px;
}
.btn-xloo-social {
  height: 42px;
  width: 42px;
  border: 1px dotted #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-xloo-social-list {
  padding: 0;
  margin: 8px 0;
  list-style-type: none;
  display: flex;
}
.footer-xloo-social-list li:not(:last-child) {
  margin-right: 20px;
}
.footer-nav-item {
  position: relative;
}
.footer-nav-item:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer-nav-item:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  width: 0;
  height: 2px;
  background-color: #93CB40;
  opacity: 0;
  transition: 0.3s;
}
.footer-nav-item:hover:before {
  width: calc(100% - 40px);
  opacity: 1;
}